<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <nav>
        <a th:href="@{/rollerspeed/home}">Inicio</a> |
        <a th:href="@{/rollerspeed/mision}">Misión</a> |
        <a th:href="@{/rollerspeed/vision}">Visión</a> |
        <a th:href="@{/rollerspeed/valores}">Valores</a> |
        <a th:href="@{/rollerspeed/servicios}">Servicios</a> |
        <a th:href="@{/rollerspeed/eventos}">Eventos</a>
    </nav>
</body>
</html>
